// Default card theme
:root {
    --card-bg-color: #{$white};
    --card-bg-color-hover: #{$gray-50};
    --card-image-bg-color: #{$gray-100};
    --card-color: hsl(210, 21%, 33%);
}

// Generic card style

.card {
    display: flex;
    background-color: var(--card-bg-color);
    padding: 16px;
    border-radius: 8px;
    gap: 8px;
    box-shadow: $shadow-sm;
    height: 150px;

    &:hover {
        background-color: var(--card-bg-color-hover);
    }

    &__image {
        width: 110px;
        border-radius: 8px;
        background-color: var(--card-image-bg-color);
        overflow: hidden;
        flex: 0 0 auto;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    &__title {
        @include heading-h2();
        @include ellipsis();
        margin-top: 4px;
    }

    &__subtitle-container {
        display: flex;
    }

    &__subtitle {
        @include subtitle();
        margin: 0;
        flex: 1 1 auto;
    }

    &__content {
        flex: 1 1 auto;
        color: var(--card-color);
        overflow: hidden;
    }
}
